@media screen and (min-width: 320px) {
  .comments {
    max-width: 320px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .comments__wrapper {
    padding-inline: 30px;
  }

  .comments__title {
    font-family: "Open Sans";
    font-size: 25px;
    color: #000000;
    margin: 0;
    padding-top: 30px;
  }

  .comments__text {
    font-family: "Open Sans";
    font-size: 15px;
    color: #000000;
  }

  .comments__name {
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  .comments__link {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    color: #444444;
    margin-top: 30px;
  }

  .comments__switch {
    display: flex;
    margin-top: 30px;
  }

  .comments__switch-button {
    min-height: 52px;
    width: 130px;
    border: none;
    background-color: #ffffff;
  }

  .comments__switch-button:hover {
    opacity: 0.7;
  }

  .comments__switch-button:active {
    opacity: 0.3;
  }
}
