@media screen and (min-width: 320px) {
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 261px;
  }

  .form-content__description-text {
    font-family: "Open Sans";
    font-size: 13px;
    color: #444444;
  }
}
